# Python
*.pyc
*.pyo
__pycache__/
env/
envs/
*.env
*.sqlite3

# Django
*.log
*.pot
*.py[cod]
db.sqlite3
media/
staticfiles/
*.pot
*.py[cod]
*.sqlite3
*.pyo

# React
node_modules/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# System Files
Thumbs.db
.DS_Store
